body {
  background-image: url("../../resources/images/warm.jpg");
}

input {
  margin-bottom: 10px;
  text-align: center;
}

label {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 4em;
}

.jumbotron {
  margin-top: 10px;
  background-color: rgba(123, 100, 99, 0.0);
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-size: 8em;
  font-family: 'Abril Fatface', cursive;
}

#list {
  border: solid 1px black;
  margin-bottom: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.81);
}

#list h3 {
  font-family: 'Abril Fatface', cursive;
}

#list p {
  font-family: 'Open Sans', sans-serif;
}

#options {
  margin-bottom: 45px;
  margin-top: 35px;
}

#newMeal, #editMeal {
  /*border: solid 1px black;*/
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.81)
}
