input {
  margin-bottom: 10px;
  text-align: center;
}


.jumbotron {
  margin-top: 10px;
}

.jumbotron h1 {
  text-align: center;
  color: tomato;
}

#list {
  border: solid 1px pink;
  margin-bottom: 15px;
}

#options {
  margin-bottom: 45px;
  margin-top: 35px;
}

#newMeal, #editMeal {
  text-align: center;
}
